USE [master]
GO
/****** Object:  Database [data_test001]    Script Date: 2016/10/11 上午 11:29:26 ******/
CREATE DATABASE [data_test001]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'data_test001', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\data_test001.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'data_test001_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\data_test001_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [data_test001].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [data_test001]
GO
/****** Object:  Table [dbo].[alarm]    Script Date: 2016/10/11 上午 11:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[alarm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tag] [varchar](50) NULL,
	[value] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
